.checkout-success {
    margin: 0 20%;
}

h1 {
    font-size: 2.5em;
}

.checkout-summary, .order-details {
    background: #ededed;
    padding: 16px;
}

.order-details .product-details {
    display: flex;
    justify-content: space-between;
}

.billling-shipping-details {
    display: flex;
    column-gap: 20%;
}